*{
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    background-image: url(./img/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #251607;
}
.header{
    padding: 40px 0;

    @media (max-width:700px) {
        background-color: #251607;
        
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    gap: 20px;
    width: 100%;

    @media (max-width: 700px) {
        /* display: none; */
        transition: 0.6s;
        opacity: 0;
        visibilaty: hidden; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        background-color: #251607;
        flex-direction: column;
        justify-content: center;
        z-index: 10;

        &.active{
            opacity: 1;
            visibilaty: visible;
        }
    }

    a{
        font-size: 30px;
        font-weight: 600;
        color: #251607;
        text-transform: uppercase;
        text-decoration: none;

        @media (max-width: 700px) {
            color: #fff;
        }
    }
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo, 
.burger{
    display: none;

        @media (max-width: 700px) {
            display: block;
            z-index: 11;
        }

}

.hero__wrapper{
    h1{
        /* font-size: 400px; */
        font-size: clamp(5.625rem, -0.833rem + 25.83vw, 25rem);
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        z-index: -1;
        position: relative;
        top: -40px;

        @media (max-width: 700px) {
            top: 0;
            line-height: 1.5;
        }
    }

    p{
        text-transform: uppercase;
        text-align: center;
        font-size: 22px;
        margin-bottom: 20px;
    }

    div{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    img{
        width: 100%;
    }
}

.album{
    padding: 100px 0;

    .container{
        max-width: 2000px;
        padding: 0;
    }

    img{
        width: 100%;
    }
}

.meet__wrapper{
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    gap: 50px;
    text-transform: uppercase;

    @media (max-width:800px) {
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column-reverse;
    }

    img{
        width: 100%;
    }

    p{
        /* font-size: 22px; */
        font-size: clamp(1.125rem, 1.044rem + 0.33vw, 1.375rem);
        font-weight: 600;
    }

    h2{
        /* font-size: 160px; */
        font-size: clamp(2.5rem, -0.32rem + 11.57vw, 11.25rem);
    }
}

.meet__info{
    text-align: right;

    
    @media (max-width:800px) {
      text-align: center;
    }

    p{
        margin-bottom: 30px;
    }
}

.our {
    padding: 100px 0;
}

.our__title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.our__wrapper {
    padding: 50px 0;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 25px 25px; 
    grid-template-areas: 
      "card-1 card-2 card-3"
      "card-1 card-4 card-5"; 

      @media (max-width:1100px) {
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
          "card-1 card-1"
          "card-2 card-3"
          "card-4 card-5";
      }

      @media (max-width:900px) {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(5, 1fr); 
        grid-template-areas: 
          "card-1"
          "card-2"
          "card-3"
          "card-4"
          "card-5";
      }

    .card-1 { grid-area: card-1; }
    .card-2 { grid-area: card-2; }
    .card-3 { grid-area: card-3; }
    .card-4 { grid-area: card-4; }
    .card-5 { grid-area: card-5; } 
}
.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    border: 4px solid #251607;
    color: #FFF0E1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 25px;

    @media (max-width: 480px) {
        min-height: 270px;
    }

    h3{
        font-size: 30px;
        text-transform: uppercase;
        transition: 0.5s;

        @media (max-width: 900px) {
            text-align: center;
        }

    }

    p{
        transition: 0.5s;
        height: 0;
        overflow: hidden;
        text-transform: uppercase;

        @media (max-width: 900px) {
            height: 30px;
            text-align: center;
        }
    }

    &:hover{
        h3{
            font-size: 40px;
        }

        p{
            height: 30px;
        }
    }
}
.card-1 {
    background-image: url(./img/plans-1.png);
}
.card-2 {
    background-image: url(./img/plans-2.png);
}
.card-3 {
    background-image: url(./img/plans-3.png);
}
.card-4 {
    background-image: url(./img/plans-4.png);
}
.card-5 {
    background-image: url(./img/plans-5.png);
}
.our__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    @media (max-width: 480px) {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

.team {
}
.container {
}
.team__wrapper {
    display: grid;
    grid-template-columns: 10fr 1fr;
    gap: 50px;

    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
        
    }
}
.team__left {

    h2{
        /* font-size: 175px ; */
        font-size: clamp(3.75rem, 1.433rem + 9.5vw, 10.938rem);
        text-transform: uppercase;
        margin-bottom: 40px;
    }
}
.team__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }
}
.team__card {
    border: 3px solid black;
    /* min-height: 300px; */
    padding: 25px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
    aspect-ratio: 2/1;

    h3{
        color: white;
        text-transform: uppercase;
    }

    transition: 0.6s;

    &:hover{
        background-size: 150%;
    }
}
.tcard-1 {
    background-image: url(./img/team-1.png);
}
.tcard-2 {
    background-image: url(./img/team-2.png);
}
.tcard-3 {
    background-image: url(./img/team-3.png);
}
.tcard-4 {
    background-image: url(./img/team-4.png);
}
.header {
}
.container {
}
.header__wrapper {
}
.logo {
}
.nav {
}
.nav__icons {
}
.burger {
}
.hero {
}
.hero__wrapper {
}
.album {
}
.swiper {
}
.album-swiper-1 {
}
.swiper-wrapper {
}
.swiper-slide {
}
.album-swiper-2 {
}
.meet {
}
.meet__wrapper {
}
.meet__box {
}
.meet__info {
}
.our {
}
.our__title {
}
.our__wrapper {
}
.card {
}
.card-1 {
}
.card-2 {
}
.card-3 {
}
.card-4 {
}
.card-5 {
}
.our__inner {
}
.team {
}
.team__wrapper {
}
.team__left {
}
.team__grid {
}
.team__card {
}
.tcard-1 {
}
.tcard-2 {
}
.tcard-3 {
}
.tcard-4 {
}
.team__img {
}
.footer {
}
.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-top: 100px;

    @media (max-width:1300px) {
        grid-template-columns: 2fr 1fr ;
    }

    @media (max-width: 950px) {
        grid-template-columns: 1fr;
    }
}
.footer__box {
}
.footer__title {
    width: 100%;
}
.footer__menu {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-top: 40px;

    a{
        text-transform: uppercase;
        color: #251607;
        text-decoration: none;
        font-size: 28px;
        font-weight: 600;
    }

    @media (max-width:650px) {
        flex-direction: column;
        gap: 30px;
    }
}
.footer__eyes {
    width: 100%;
    border: 3px solid black;
}
.footer__text {
    margin-top: 40px;
    width: 100%;
}